* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: white;
}